[Unit]
Description=SSN temperature monitoring service
After=network.target

[Service]
WorkingDirectory=/usr/local/bin/temperature-daemonv2/
ExecStart=/usr/local/bin/temperature-daemonv2/venv/bin/python /usr/local/bin/temperature-daemonv2/tempermonitor.py tempermon_hugin.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target
