[Unit]
Description=SSN temperature management service
After=network.target

[Service]
WorkingDirectory=/usr/local/bin/temperature-daemon/
ExecStart=/usr/local/bin/temperature-daemon/temperdaemon.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
